#title-component {
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  .main_title {
    color: black;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .title-image {
    width: 160px;
    height: 250px;
    background-image: url('../assets/film.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
  .title {
    font-size: 16px;
    color: black;
    font-weight: 600;
  }
}
